jupyter
matplotlib
ipywidgets

groq
replicate
langchain
langchain-groq
langchain-community
langchain_huggingface
sentence-transformers
faiss-cpu
bs4
fake_useragent
pdf2image
pdfminer
pdfminer.six
pillow_heif
opencv-python
pikepdf
unstructured

chrisbase